{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <title>热点词汇</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="news-container">
        <div class="title" id="news-title">新闻列表</div>
    </div>
    <div class="hot-words-container">
        <div class="title" id="word-title">新闻热词</div>
    </div>
</body>
<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "js/index.js" %}"></script>
<script src="{% static "js/base64.min.js" %}"></script>
<script src="{% static "js/jquery.json.js" %}"></script>
</html>