{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热点词汇</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="hot-container">
        <div class="title">新闻列表</div>
{#        <div class="hot-item">#}
{#            <div class="news-title"><p class="source">新浪首页</p> | 京东市值眼看就要追上百度了，10 张图告诉你<p class="highlight">中国</p>互联网公司的此消彼长</div>#}
{#            <hr>#}
{#        </div>#}
    </div>
</body>
<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "js/index.js" %}"></script>
<script src="{% static "js/base64.min.js" %}"></script>
<script src="{% static "js/jquery.json.js" %}"></script>
</html>